# Unity carpetas temporales y generadas
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/

# Visual Studio y archivos de solución generados
.vs/
.vsconfig
*.csproj
*.sln
*.unityproj
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Excluir modelos de MediaPipe pesados
Packages/*.tgz
*.tflite
*.bytes
*.task